nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brnad Navbar
  button.navbar-toggler
    .span.navbar-toggler-icon
  .collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href="/") 今日
      li.nav-item
        a.nav-link(href="/") 今日
      li.nav-item
        a.nav-link(href="/") 今日
      li.nav-item
        a.nav-link(href="/") 今日
      li.nav-item
        a.nav-link(href="/") 今日
